.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.color-code {
  padding: 0.4em;
  font-size: 3em;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
  color: white;
}

main {
  display: grid;
  gap: 2.5em;
  grid-template-columns: 1fr 1fr;
  padding: 2em;
  //   border: 1px solid black;
  perspective: 150px;
}
